<!DOCTYPE html>
<html>

  {% load staticfiles %}

<head>
	<link rel="stylesheet" href="{% static "css/bootstrap.min.css" %}">
  <link rel="stylesheet" href="{% static "css/style.css" %}">
</head>

<body>
  <!-- Navbar -->
	<header class="navbar navbar-inverse" role="banner">
		<!-- Brand and toggle get grouped for better mobile display -->
		<div class="container">
			<div class="navbar-header">
				<button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-ex1-collapse">
					<span class="sr-only">Toggle navigation</span>
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
				</button>
				<a class="navbar-brand" href="home.html"><strong>Energy<span style="color:green">Saver</span></strong></a>
			</div>

			<!-- Collect the nav links, forms, and other content for toggling -->
			<nav class="collapse navbar-collapse navbar-ex1-collapse" role="navigation">
				<ul class="nav navbar-nav navbar-right">
{#					<li {% if section == 'Use Cases' %}class="active"{% endif %}><a href="{% url 'gui/usecase' %}"><strong>Use Cases</strong></a></li>#}
{#					<li {% if section == 'Developer' %}class="active"{% endif %}><a href="{% url 'gui/developer' %}"><strong>Developer</strong></a></li>#}
				</ul>
			</nav><!-- /.navbar-collapse -->
		</div>
	</header>

	<!-- User picture display -->
	<main>
		<div class="container">
			<div class="col-md-3">
        <img src="{% static "img/profile_pic.jpg" %}" width="180" height="180" alt="" class="img-circle img-thumbnail">
			</div>

      <div class="col-md-9">
       <div class="user-info">
         <h2><strong>John <span class="green">Appleseed</span></strong></h2>
         <p><strong>Number of devices: </strong> 6</p>
        </div> 
      </div>
      <div class="col-md-12">
        
      </div>
    </div>
	</main>
  <div class="row">
    <div class="col-md-12" style="padding-left:10%;padding-right:10%">
      <ol class="breadcrumb">
        <li><a href="personal.html">Your Data</a></li>
        <li><a href="social.html">Social Links</a></li>
      </ol>
    </div>
  </div>

  <div class="row">

    <!-- Pie chart -->
    <div class="col-md-6" style="padding-top:30px">
      <div id="pie-chart">
      </div>
    </div>

    <!-- Table: breakdown -->
    <div class="col-md-5" style="padding-top:30px">

      <h3 style="padding:0 0 10px 0">POWER USAGE <strong>BREAKDOWN</strong></h3>

      <table class="table table-striped table-hovered table-bordered">
        <thead>
          <tr>
            <th>#</th>
            <th>Device</th>
            <th>Place</th>
            <th>Usage</th>
            <th>Action</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td>1</td>
            <td>Egg1</td>
            <td>Bedroom</td>
            <td>350kWh</td>
            <td><button class="btn btn-sm btn-danger"><span class="glyphicon glyphicon-off"></span> Turn off</button></td>
          </tr>
          <tr>
            <td>2</td>
            <td>Egg2</td>
            <td>Living Room</td>
            <td>700kWh</td>
            <td><button class="btn btn-sm btn-danger"><span class="glyphicon glyphicon-off"></span> Turn off</button></td>
          </tr>
          <tr>
            <td>3</td>
            <td>Egg3</td>
            <td>Kitchen</td>
            <td>900kWh</td>
            <td><button class="btn btn-sm btn-danger"><span class="glyphicon glyphicon-off"></span> Turn off</button></td>
          </tr>
        </tbody>
      </table>

      <button class="btn btn-primary"><span class="glyphicon glyphicon-plus"></span> Add Egg</button>

    </div>

  </div>

  <hr>
  <!-- Time seiries -->
  <div class="row">
    <div class="col-md-12" style="padding-left:5%;padding-right:5%">
      <div id="time-series">
      </div>
    </div>
  </div>

  <div class="row">
      <div class="col-md-8" style="padding-left:5%;padding-right:5%">
          <h3>POWER SAVING <strong class="green">TIPS</strong></h3>
          <table class="table table-striped table-hovered table-bordered">
            <thead>
              <tr>
                <th>#</th>
                <th>User</th>
                <th style="padding-right:60px">Current usage</th>
                <th>Saved kWs</th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <td>1</td>
                <td>
                  Consider turn off those device at <strong>Egg1</strong> in the morning
                </td>
                <td>
                  <div class="progress">
                    <div class="progress-bar progress-bar-danger" role="progressbar" aria-valuenow="60" aria-valuemin="0" aria-valuemax="100" style="width: 80%;">
                    </div>
                  </div>
                </td>
                <td>20kW</td>
              </tr>
              <tr>
                <td>2</td>
                <td>
                    Consider using a less electricity intensive device at <strong>Egg2</strong> which consumes a substantial amount of energy
                </td>
                <td>
                  <div class="progress">
                    <div class="progress-bar progress-bar-success" role="progressbar" aria-valuenow="60" aria-valuemin="0" aria-valuemax="100" style="width: 60%;">
                    </div>
                  </div>
                </td>
                <td>16kW</td>
              </tr>
              <tr>
                <td>3</td>
                <td>
                  Turn off the devices at <strong>Egg3</strong>
                </td>
                <td>
                  <div class="progress">
                    <div class="progress-bar progress-bar-success" role="progressbar" aria-valuenow="60" aria-valuemin="0" aria-valuemax="100" style="width: 50%;">
                    </div>
                  </div>
                </td>
                <td>15kW</td>
              </tr>
            </tbody>
          </table>
      </div>
    <div class="col-md-4">
      <h3>SAVINGS IN <strong class="green">MARCH</strong></h3>
        <table class="table table-striped">
            <thead>
                <th>Type</th>
                <th>Value</th>
            </thead>
            <tbody>
                <tr>
                    <td>Total Power Consumption</td>
                    <td><strong>3kWh</strong></td>
                </tr>
                <tr>
                    <td>Total Power Consumption</td>
                    <td><strong>3kWh</strong></td>
                </tr>
                <tr>
                    <td>Total Power Consumption</td>
                    <td><strong>3kWh</strong></td>
                </tr>
                <tr>
                    <td>Total Power Consumption</td>
                    <td><strong>3kWh</strong></td>
                </tr>

            </tbody>
        </table>
    </div>

    </div>
  </div>

  <!-- Analysis / Tooltips -->

  <script type="text/javascript" src="{% static "js/holder.min.js" %}"></script>
  <script type="text/javascript" src="{% static "js/jquery-1.9.0.min.js" %}"></script>
  <script type="text/javascript" src="{% static "js/bootstrap.min.js" %}"></script>
  <script type="text/javascript" src="{% static "js/highcharts.js" %}"></script>
  <script type="text/javascript" src="{% static "js/highchart_sample.js" %}"></script>
  <script type="text/javascript">
    $(document).ready(function() {
      draw_pie_chart('pie-chart');
      draw_time_series('time-series');
    });
  </script>
</body>

</html>